@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@theme {
  --font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  --color-orange: #FF920F;
  --color-dark-orange: #D4480D;
  --color-dark-gray: #3A3A3A;
}